<ion-tabs>

  <ion-tab-bar slot="bottom" class="top-bar">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chatbot">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Bot</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
