<ion-header>
  <ion-toolbar class="top-bar">
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app-backdrop">
    <ion-list class="content-background">
        <ion-item>
          <ion-label>Entertainment</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Business</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Health</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Technology</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Sports</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
